<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
</head>
<body>
   <% if (kindofday === "saturday" || kindofday === "sunday"){ %>
    <h1 style="color: purple;">Its a <%=kindofday%>!</h1>
 <% }else { %>
    <h1 style="color: blue;">Its a <%=kindofday%>!</h1>
    <% } %>
</body>
</html>
